In [1]:
import pandas as pd

In [2]:
weather_df = pd.read_csv('weather_data.csv')

In [3]:
weather_df

,City,Country,Latitude,Longintude,Temperature (F),% Humidity,% Cloud Cover,Wind Speed (MPH)
0,Pochutla,MX,15.74,-96.47,84.99,73,24,3.44
1,Vaini,TO,-21.20,-175.20,77.00,73,75,11.41
2,Hasaki,JP,35.73,140.83,86.77,74,40,4.70
3,Narsaq,GL,60.92,-46.05,46.40,87,100,4.70
4,Hermanus,ZA,-34.42,19.23,55.00,88,99,5.01
...,...,...,...,...,...,...,...,...
551,Mareeba,AU,-17.00,145.43,76.23,65,0,1.99
552,Veselynove,UA,47.36,31.23,63.77,53,0,3.02
553,Belaya Gora,RU,68.53,146.42,57.33,51,99,6.87
554,Tuy Hoa,VN,13.08,109.30,86.11,67,99,9.60
555,Aketi,CD,2.74,23.78,70.68,97,100,0.58

In [ ]:
weather_df.to_html